.card {
  width: 460px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); /* Move the card up on hover */
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 14px;
}

.card-title {
  margin: 0;
  font-size: 1.2rem;
}

.card-description {
  margin: 8px 0;
}

.specials-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: space-between;
  gap: 20px; /* Adjust as needed */
  margin-top: 20px;
}

.delivery-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delivery-container span {
  font-weight: bold;
  font-style: oblique;
}

.motorcycle-icon {
  margin-right: 90px;
  font-size: 15px;
}

.card-title span {
  font-weight: bold;
  color: #EE9972;
  margin-left: 35px;
}

.Order-button {
  margin-top: 40px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #F4CE14;
  color: #495E57;
  font-weight: bold;
  border: 0.1875rem solid #F4CE14;
  transition: background, border, color 0.5s;
}

.Order-button:hover, 
.Order-button:focus {
  background-color: #253d35;
  border-color: #495E57;
  color: #FFFFFF;
}

/* Responsive Design */
@media (max-width: 960px) {
  .specials-container {
    justify-content: center;
    gap: 1rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card {
    width: 300px;
    max-width: 100%;
  }

  .card-content {
    padding: 10px;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .specials-container {
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }

  .card-content {
    padding: 8px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.8rem;
  }

  .Order-button {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
  }

  .card-content {
    padding: 6px;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .card-description {
    font-size: 0.75rem;
  }

  .Order-button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

