.specials-slider {
  width: 100%;
}

.specials-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
}

.specials-card-container {
  padding: 10px; /* Add padding for spacing between slides */
}

.specials-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: auto;
  gap: 40px;
}

.Order-button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}


.Order-button {
  margin-top: 40px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #F4CE14;
  color: #495E57;
  font-weight: bold;
  border: 0.1875rem solid #F4CE14;
  transition: background, border, color 0.5s;
}

.Order-button:hover,
.Order-button:focus {
  background-color: #253d35;
  border-color: #495E57;
  color: #FFFFFF;
}


.specials-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.specials-card-content {
  padding: 10px;
  text-align: center;
}

.specials-card-title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.specials-card-description {
  font-size: 1em;
  margin-bottom: 1em;
}

.delivery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.price {
  font-weight: bold;
  color: #EE9972;
  font-size: large;
}

.motorcycle-icon {
  margin-left: 0.5em;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 2rem;
  margin: -1.5rem 1rem;
  font-weight: 900;
  margin-top: 1rem;
}

.arrows span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 2px solid var(--btn-color);
  border-radius: 50%;
  transition: all 0.5s;
  color: var(--color);
  cursor: pointer;
}

.arrows span:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .specials-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .specials-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .specials-card-title {
    font-size: 1rem;
  }

  .specials-card-description {
    font-size: 0.9rem;
  }

  .Order-button {
    width: 100%;
    font-size: 1rem;
  }
}


@media screen and (max-width: 500px) {
  .specials-heading h1 {
    font-size: 1.1rem;
  }

  .arrows {
    gap: 0.8rem;
  }

  .arrows span {
    font-size: 0.9rem;
  }

  .specials-card {
    width: 100%;
    padding: 10px;
  }

  .specials-card img {
    border-radius: 4px;
  }

  .Order-button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
  