.about-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 100px;
    max-width: 1150px; /* Set a maximum width for the footer */
    margin-left: auto; /* Center the footer horizontally */
    margin-right: auto; /* Center the footer horizontally */
  }
  
  .main-heading {
    width: 300px;
    font-weight: bolder;
    font-family: 'Markazi Text', sans-serif;
  }
  
  .sub-heading {
    margin-top: -20px;
    width: 40px;
  }
  
  .description {
    margin-top: 10px;
  }
  
  /* Media query for smaller screens */
@media (max-width: 767px) {
  .about-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    margin-left: 20px; /* Adjust margin for smaller screens */
  }

  .left-section {
    width: 100%; /* Take up full width on smaller screens */
  }

  .right-section {
    width: 100%; /* Take up full width on smaller screens */
    margin-right: 200px; /* Remove right margin on smaller screens */
  }

  .main-heading {
    width: 300px;
    margin-left: 1px;
    font-weight: bolder;
    font-family: 'Markazi Text', sans-serif;
  }

  .description {
    margin: 40px 0; /* Add margin to separate from other elements */
    padding: 10px; /* Add padding to prevent overflowing */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    white-space: wrap;
    max-width: 100%; /* Set maximum width to ensure responsiveness */
    font-size: 90%;
    /* margin-left: -70px; */
  }
  
}