.testimonial-container {
  background-color: #495E57;
  padding: 120px;
  width: 80%;
  margin: auto;
  max-width: 1350px;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.testimonial-header {
  text-align: center;
  color: aliceblue;
}
