.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* Base styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



/* Common styles for all screen sizes */
header {
  text-align: center;
  padding: 20px;
  background-color: #495E57;
}

/* Styles for larger screens */
@media (min-width: 768px) {
  header {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {
    font-size: 3.5rem;
    margin-right: 210px;
    font-family: 'Markazi Text', sans-serif;
    color: #F4CE14;
  }
/* 
  header h2 {
    margin-top: -40px;
    margin-right: 350px;
  } */
}

/* Styles for smaller screens */
@media (max-width: 767px) {
  header h1 {
    font-size: 1.8rem; /* Decrease font size for smaller screens */
    margin-right: 230px; /* Adjust margin */
    color: #F4CE14;
  }

 
  
  .custom-button {
    margin-right: 20px; /* Adjust margin */
  }
}


footer {
  background-color: #D9D9D9;
  /* text-align: center; */
  padding: 2em;
  margin-top: auto;
  width: 100%;
  max-width: 1150px; /* Set a maximum width for the footer */
  margin-left: auto; /* Center the footer horizontally */
  margin-right: auto; /* Center the footer horizontally */
}



nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

@media (max-width: 767px) {
  nav {
    margin-top: 10px; /* Adjust margin for smaller screens */
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0; /* Adjust margin for smaller screens */
  }
}
